.hidden{
    display: none;
}
#settei,#tag,#hsmg,#hsmresolt{
    border: 1px solid black;
    width: 300px;
    border-radius: 16px;
    background: rgb(14, 183, 235);
    text-align: center;
}
button{
    cursor: pointer;
}
#hsmresolt ul{
    margin: 0;
    padding: 0;
}
#hsmresolt li{
    margin-top: 5px;
    border-bottom: 1px solid black;
    list-style: none;
}